<section id="portfolio" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Projects</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row no-space">
      <div class="col-sm-4 col-md-3">
        <div class="box"><a href="<%= asset_path 'projects/houbookmark.png' %>" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Hou <small>2017.12 ~ </small>" data-footer="<p class='text-center'>Bookmark 정리 서비스<br>Web Frontend 담당<br>RubyonRails, Bootstrap 사용</p><p class='text-center'>현재 Proto v_2 준비중</p>"><img src="<%= asset_path 'projects/houlogo.png' %>" alt="" class="img-responsive"></a></div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="box"><a href="<%= asset_path 'projects/houlandingpage.PNG' %>" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="Hou Landingpage <small>2017.10</small>" data-footer="<p class='text-center'>Bootstrap을 이용한 웹 페이지 제작<br>https://houbookmark.github.io/</p>"><img src="<%= asset_path 'projects/many.png' %>" alt="" class="img-responsive"></a></div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="box"><a href="<%= asset_path 'projects/teenslang.PNG' %>" title="" data-toggle="lightbox" data-gallery="portfolio" data-title="급식체 사전<small>2017.10</small>" data-footer="<p class='text-center'>Watson Conversation API를 활용한 급식체 사전<br>Sring, Bootstrap 사용</p>"><img src="<%= asset_path 'projects/teenbot.png' %>" alt="" class="img-responsive"></a></div>
      </div>
    </div>
  </div>
</section>
