<section id="skills" class="section background-gray-lightest">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="heading">Skills</h2>
      </div>

      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="">I have</h3>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/rubyonrails.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Rubu on Rails"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/python.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Python"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/django.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Django"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/html.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="HTML"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/css.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="CSS"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/javascript.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Javascript"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/jquery.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="JQuery"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/bootstrap.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Bootstrap"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/java.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="JAVA"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/mysql.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="My SQL"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/oracle.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Oracle"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/github.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Github"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/bitbucket.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Bitbucket"></div>
            </div>
          </div>

          <div class="col-sm-6">
            <h3 class="">Interested</h3>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/react.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="React"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/restframework.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="REST-Framework"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/ml.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Machine Learning"></div>
            </div>
            <div class="col-sm-4 col-md-2 col-xs-4">
              <div class="customer"><img src="<%= asset_path 'skills/datascience.png' %>" title="" data-placement="bottom" data-toggle="tooltip" alt="" class="img-responsive" data-original-title="Data Science"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
