<!DOCTYPE html>
<html>
<head>
  <title>JuYeon's Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
</head>
<body>

<%= render '/layouts/header' %>

<%= yield %>

</body>
</html>
